@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
}